export KB_DEPLOYMENT_CONFIG_DIR=/Users/etc/etc/staging_service/deployment/conf
export KB_DEPLOYMENT_CONFIG=${KB_DEPLOYMENT_CONFIG_DIR}/testing.cfg
export MAPPINGS_FILE=${KB_DEPLOYMENT_CONFIG_DIR}/supported_apps_w_extensions.json