export KB_DEPLOYMENT_CONFIG_DIR=/Users/<username>/<some_dir>/staging_service/deployment/conf
export KB_DEPLOYMENT_CONFIG=${KB_DEPLOYMENT_CONFIG_DIR}/testing.cfg
export MAPPINGS_FILE=${KB_DEPLOYMENT_CONFIG_DIR}/supported_apps_w_extensions.json