[staging_service]
META_DIR = ./data/metadata/
DATA_DIR = ./data/bulk/
DTS_STAGING_DIR = ./data/dtszz
AUTH_URL = https://ci.kbase.us/services/auth/
CONCIERGE_PATH = /kbaseconcierge
FILE_EXTENSION_MAPPINGS = ./deployment/conf/supported_apps_w_extensions.json
DTS_MANIFEST_SCHEMA = ./import_specifications/schema/dts_manifest_schema.json
; This is the service auth token, coming from the environment in AUTH_URL.
; Don't check it into github, pretty please.
AUTH_TOKEN = fake_token_replace_this
