[staging_service]
META_DIR = ./data/metadata/
DATA_DIR = ./data/bulk/
AUTH_URL = https://ci.kbase.us/services/auth/
CONCIERGE_PATH = /kbaseconcierge
FILE_EXTENSION_MAPPINGS = ./deployment/conf/supported_apps_w_extensions.json
;FILE_EXTENSION_MAPPINGS_PYCHARM = ../deployment/conf/supported_apps_w_extensions.json
DTS_MANIFEST_SCHEMA = ./import_specifications/schema/dts_manifest_schema.json
; replace with a real test auth token from the AUTH_URL environment.
; don't check it in to github or you will be ruthlessly teased.
TEST_TOKEN = some_test_token
; replace with the real test username matching the test token.
TEST_USER = kbase_user
