name: Run Staging Service Tests
on:
  [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run the tests
      run: ./development/scripts/run test